body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    font-size: 24px;
}

.product-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.add-to-cart {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.cart-item button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 3px 6px;
    cursor: pointer;
}

#cart-total {
    font-weight: bold;
    font-size: 18px;
}

/* Estilos para o menu de navegação */
.navbar {
    background-color: #333; /* Cor de fundo do menu */
    overflow: hidden;
    position: fixed; /* Fixar o menu no topo */
    top: 0;
    width: 100%;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd; /* Cor de fundo ao passar o mouse */
    color: black;
}
